# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/
.nyc_output/

# Build Outputs
.next/
out/
build/
dist/

# Environment Variables & Keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System & OS Files
.DS_Store
Thumbs.db
*.log
*.pdf
*.docx
